---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import angel from '~/assets/images/angel.jpg';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: angel,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      MiddleLost is a <br />
      <span class="text-accent dark:text-white highlight">Cool Lit Mag!</span>
    </Fragment>

    <Fragment slot="subtitle">
      We were started in Durham, North Carolina, in 2019. We publish our favorite long-form poetry and visual art. We press small runs of about 100 books, one time per year.
    </Fragment>
  </Hero>
</Layout>
