---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';
import coverMiddlelost4 from '~/assets/images/cover-middlelost-4.jpg';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'MiddleLost is a literary magazine made in North Carolina. We publish our favorite long-form poetry and visual art. We press small runs of about 100 books, one time per year.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <Content
    image={{
      src: coverMiddlelost4,
      alt: 'MiddleLost 1',
        height: null
    }}
    start
  >
    <Fragment class="h-full" slot="content">
        <div class="self-start">
            <h1 class='text-3xl md:text-4xl my-2'>MiddleLost 4, Winter 2025 </h1>
            <Button variant="primary" class="px-8 md:px-8 mb-2" href={'/purchase'}>Buy</Button>
            <div class="border border-primary p-2 mb-2 rounded-lg">
                <p class="text-m tracking-tight dark:text-white sm:text-lg">Editor's Note: The Lattice <strong class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase intersect-once intersect-quarter ml-2">Serif</strong></p>
            </div>
        </div>
    </Fragment>
  </Content>
</Layout>

